---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Resume" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  <iframe src="https://docs.google.com/document/d/15-27v7an4uvw1VpYqhAOyOO1ExAov_hN/edit&embedded=true"></iframe>
</div>

{% include paginator.html %}
