---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  <embed src="https://github.com/cs-sfulb001/cssfulb001.github.io/blob/main/assets/Pics%20and%20docs/Resume.pdf" width="500" height="375" type="application/pdf">
</div>

{% include paginator.html %}
